@model IEnumerable<Models.HomePic>
@{
    ViewBag.Title = "Index";
}

<div style="background:white;padding:30px;margin-top:80px">
    <br />
    <br />
    <a class="btn btn-success" href="@Url.Action("Create", "AdminHomepic")">Add new picture</a>
    <br />
    <br />
    <table cellpadding="2" cellspacing="2" border="1" class="table table-striped table-hover ">
        <tr>
            <th>display</th>
            <th>Url</th>
            <th>Option</th>
        </tr>
        @foreach (var pic in Model)
        {
            <tr>
                <td>
                    <div class="thumbnails">
                        <img class="thumbnail" width="150" height="120" src="@pic.Url" alt="pic" />
                    </div>
                </td>
                <td>@pic.Url</td>
                <td width="20%">
                    <a class="btn btn-danger" onclick="return confirm('Are you sure?')"
                       href="@Url.Action("Delete", "AdminHomepic", new { id = pic.Id })">Delete</a> &nbsp; &nbsp;
                    <a class="btn btn-success" href="@Url.Action("Edit", "AdminHomepic", new { id = pic.Id })">Edit</a>
                </td>
            </tr>
        }


    </table>

</div>
@*<div class="container1">
        <div class="image-slider-wrapper">
            <ul id="image_slider">
                @foreach (var pic in ViewBag.listHomepics)
                {
                    <li><img src="@pic.Url"></li>
                }

            </ul>
        </div>
    </div>*@
