<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                <img src="~/Content/img/logo.jpg" />
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Menu<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>Buffet</li>
                            <li><a>@Html.ActionLink("Chinese", "ChineseBuffet", "Menus")</a></li>
                            <li><a>@Html.ActionLink("Running Sushi", "SushiBuffet", "Menus")</a></li>
                            <li class="divider"></li>
                            <li>Take away</li>
                            <li><a>@Html.ActionLink("Chinese", "ChineseTakeAway", "Menus")</a></li>
                            <li><a>@Html.ActionLink("Sushi", "SushiTakeAway", "Menus")</a></li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Booking", "Index", "Booking")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="inner">
                <div class="col-md-5" id="divleft">
                    <h2 style="font-weight:800;">Opening Hours</h2>
                    <br />
                    <h4>14:00am - 21:30pm</h4>
                </div>
               <div class="col-md-1"><div class="vr"></div> </div>
                <div class="col-md-5" id="divright">
                    <h2 style="font-weight:800;">Contact Details</h2>
                    <br />
                    <h4>Adress: Jagtvej 45, 6705 Esbjerg</h4>
                    <h4>T: 86 16 81 68</h4>
                    <br />
               </div>

                <br />
                <br />

              

            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
    </html>
